<div class="navbar" id="navbar">
    <div class="logo">
      <img src="../../imagens/logobl.png" alt="Logo Aquatech" class="logo-img">
    </div>
    <div class="links">
      <a href="#">Sobre Nós</a>
      <a href="#">Recursos</a>
      <a href="#">Soluções</a>
    </div>
    <div class="ajuda">
      <a href="#" class="abrir-modal" style="margin-right: -1.0rem !important;">
        Ajuda <i class="bi bi-universal-access-circle" style="color:#0b5498; font-size: 1.1rem;"></i>
      </a>
    </div>
  </div>

  <button class="navbar-toggler" type="button" onclick="toggleMenu()">
    <i class="bi bi-list" id="menuIcon" style="font-size: 1.5rem;  z-index: 9999 !important;"></i>
  </button>

  <div class="modal" id="modalAcessibilidade">
    <div class="modal-blur"></div>
    <div class="modal-content">
      <h2>
        <strong>Ajustes de Acessibilidade</strong>
        <button class="modal-close" onclick="fecharModal()" title="Fechar">
          <i class="bi bi-x-lg"></i>
        </button>
      </h2>
      <p>Melhore sua experiência no site.</p>

      <div class="acessibility-grid">
        <div class="acessibility-option">
          <p class="opcao-titulo">Tamanho do Texto</p>
          <div class="font-size-controls">
            <button onclick="alterarFonte(true)" id="aumento">A +</button>
            <button onclick="alterarFonte(false)" id="diminuir">a -</button>
          </div>
        </div>

        <div class="acessibility-option" onclick="ativarContraste()">
          <p class="opcao-titulo">Modo Contraste</p>
          <i class="bi bi-eye"></i>
        </div>

        <div class="acessibility-option" onclick="lerTexto()">
          <p class="opcao-titulo">Ouvir Texto</p>
          <i class="bi bi-ear"></i>
        </div>

        <div class="acessibility-option" onclick="abrirVLibras()">
          <p class="opcao-titulo">Traduzir para Libras</p>
          <img src="../../imagens/libras.svg" alt="Ícone de Libras" style="width: 82px; height: 82px;" />
        </div>
      </div>

      <div class="modal-buttons">
        <button class="cancel-btn" onclick="cancelarMudancas()">Cancelar</button>
        <button class="save-btn" onclick="salvarMudancas()">Salvar mudanças</button>
      </div>
    </div>
  </div>

  <div class="menu-lateral" id="menuLateral">
    <a href="#">Sobre Nós</a>
    <a href="#">Recursos</a>
    <a href="#">Soluções</a>
    <div class="ajuda">
      <a href="#" class="abrir-modal" style="margin-right: -1.0rem !important;">
        Ajuda <i class="bi bi-universal-access-circle" style="color:#0b5498; font-size: 1.1rem;"></i>
      </a>
    </div>
  </div>

  <!-- VLibras -->
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
