.everything {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 1rem;
}

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
}

.navbar-logo img {
    height: 50px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 10rem;
    margin: 0;
    padding: 0;
}

.navbar-links a {
    text-decoration: none;
    color: #5487b7;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #329de9;
    text-decoration: underline;
}

.navbar-links a:hover,
.navbar-links a.active{
    color: #031e49;
    font-weight: 600;
}

.navbar-access a {
    color: #0b5498;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.navbar-access a:hover {
    color: #329de9;
}

.container-with-globe {
    position: relative; 
}

.globo-container {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -240px; /* sobe o globo (qto menor o numero mais p baixo vai, quanto maior mais p cima*/
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.globo {
    width: 63%; /* aumenta o tamanho do globo */
    height: auto;
    margin: 0 auto;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 240px; /* distancia em relacao ao nav */
}

.image-box {
    width: 70%;
    height: 250px;
    border-radius: 4rem;
    overflow: hidden;
    position: relative;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.white-container {
    width: 60%;
    height: 38vh;
    margin: -40px auto 0 auto;
    border-radius: 3rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.39);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 1.2rem;
}

.titulo p {
    font-size: 2.5rem;
    text-align: center;
    color: #0b5498;
    margin: 0; 
    padding-bottom: 1rem;
}

.cards {
    display: flex;
    gap: 3.2rem;
  }
  
  .mini-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mini-card {
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #143263, #728ebc, #143263);
    background-size: 200% 200%;
    border-radius: 2.5rem;
    transition: transform 0.4s ease;
}
  
  .card-icons {
    font-size: 3rem;
    color: white;
    transition: transform 0.4s ease;
  }
  
  .mini-card-container p {
    font-size: 1.2rem;
    color: #143263;
    margin-top: 0.5rem;
    font-weight: 450;
    text-align: center;
    transition: font-size 0.5s ease;
  }

  .mini-card:hover {
    background: linear-gradient(to right, #728ebc, #143263);
    transform: scale(1.1);
}

.mini-card:hover .card-icons {
    transform: scale(1.2);
}

.mini-card-container:hover p {
    font-size: 1.3rem;
    margin-top: 1rem;
}

/* fim do banner principal */
.container-quem-somos{
    margin-left: 10%;
}

.linha-1 {
    border: none;
    border-top: 2px solid #143263;
    opacity: 1;
    margin-top: 6%;
    width: 30%;
  }

.quem-somos h1{
    margin-left: 10px;
    font-weight: 700;
    color: #143263;
    padding-top: 35px;
}

.quem-somos p{
    margin-left: 10px;
    margin-right: 15%;
    font-size: 1.8rem;
    color: #143263;
    font-weight: 500;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 50px;
}

.rounded-box {
    width: 60%;
    height: 75px;
    border-radius: 4rem;
    background: linear-gradient(120deg, #728ebc, #143263, #728ebc);
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 50px;
    margin-top: 4%;
    margin-left: 15%;
}

.rounded-box p {
    font-size: 1.7rem;
    color: white;
    text-align: center;
    margin: 0;
}

.quem-somos-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5%;
}

.text-box h1{
    margin-right: 23%;
    font-weight: 700;
    color: #0e4376;
    text-align: end;
    padding: 30px;
}

.text-box p{
    margin-left: 5%;
    margin-right: 23%;
    font-size: 1.8rem;
    color: #143263;
    font-weight: 500;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 55px;
}

.image-box-2 {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.image-box-2 img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4rem;
}

.circulo {
    position: absolute;
    bottom: -10px;             /* 10px a partir da parte inferior */
    right: -5px;              /* 10px a partir da parte direita */
    width: 180px; 
    height: 180px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.144);
}

.circulo-interno {
    width: 150px; 
    height: 150px;
    background-color: transparent; 
    border-radius: 50%; 
    border: 6px dotted #0b5498;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo-interno i {
    font-size: 4.5rem;
    color: #0b5498; 
}

#linha-1{
    border: none;
    border-top: 2px solid #143263;
    opacity: 1;
    margin-top: 6%;
    width: 50%;
    margin-left: 28%;
}

.container-dados-atuais {
    text-align: center;
    margin-top: 5%;
  }
  
.blocos {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 40px;
}

.blocos h1 {
    font-size: 2.5rem;
    color: #0e4376;
    margin-bottom: 5px;
    font-weight: bold;
}

.blocos p {
    font-size: 1.5rem;
    color: #143263;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;  
}

#titulo-dados-atuais{
    font-size: 2.5rem;
    color: #0e4376;
    margin-bottom: 5px;
}

.texto-dados-atuais {
    margin-left: 13%;
    margin-right: 12%;
    font-size: 1.8rem;
    color: #143263;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    line-height: 55px;
    padding-top: 30px;
}

.linha-2{
    border: none;
    border-top: 2px solid #143263;
    opacity: 1;
    margin-top: 6%;
    width: 45%;
    margin-left: 28%;
}

.container-planejando{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5%;
}

.planejando-container{
    display: flex; 
    margin-left: 10%;
    margin-right: 10%;
}

.text-box-2 p{
    margin-left: 4%;
    margin-right: 20%;
    font-size: 1.8rem;
    color: #0e4376;
    font-weight: 500;
    text-align: start;
    letter-spacing: 2px;
    line-height: 55px;
}

.text-box-2 h1{
    margin-left: 4%;
    font-weight: 700;
    color: #0e4376;
    padding-top: 30px;
    padding-bottom: 60px;
}

.image-box-3 {
    width: 100%;
    position: relative;
}

.image-box-3 img {
    height: 580px;
    width: 87%;
    display: block;
    border-radius: 4rem;
    object-fit: cover;
}

.image-sobreposicao {
    position: absolute;
    top: 80px;
    left: -70px;
    width: 400px;
    aspect-ratio: 1 / 1;
    padding: 12px;
    background-color: white;
    border-radius: 4rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.image-sobreposicao img {
    width: 100%;
    height: 100%;
    border-radius: 3.6rem;
    object-fit: cover;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 20%;
}

.checkboxes p {
  white-space: nowrap;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #143263;
  font-size: 2.3rem;
}

.item p {
  font-size: 1.7rem;
  color: #0e4376;
  letter-spacing: 2px;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
}

.text-medicao{
    margin-right: 20%;
    font-size: 1.8rem;
    color: #0e4376;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 45px;
    padding: 20px;
}

#rounded-box{
    width: 70%;
    height: 70px;
    border-radius: 4rem;
    background: linear-gradient(120deg, #728ebc, #143263, #728ebc);
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 20px;
    margin-top: 4%;
    margin-left: 15%;
    border: none;
    transition: all 0.3s ease;
}

.none{
    text-decoration: none;
}

#rounded-box p{
    font-size: 1.7rem;
    color: white;
    text-align: center;
    margin: 0;
}

#rounded-box:hover {
    background: linear-gradient(to right, #728ebc, #143263);
    transform: scale(1.05);
}

.linha-3{
    border: none;
    border-top: 2px solid #143263;
    opacity: 1;
    margin-top: 5%;
    width: 30%;
    margin-left: 11%;
}

#linha-3 {
    border: none;
    border-top: 2px solid #143263;
    opacity: 1;
    width: 80%;
    margin-left: 10%;
}


.fazer-login{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 2%;
    margin-left: 11%;
}

.fazer-login p{
    font-size: 1.8rem;
    color: #0b5498;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 55px;
}

.login-btn{
    width: 20%;
    height: 70px;
    border: none;
    border-radius: 4rem;
    background: linear-gradient(120deg, #728ebc, #143263, #728ebc);
    padding: 1rem;
    margin-bottom: 40px;
    margin-top: 4%;
    margin-left: 30%;
    color: white;
    font-size: 1.7rem;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background: linear-gradient(to right, #728ebc, #143263);
    transform: scale(1.05);
    cursor: pointer;
}

.login-btn p{
    font-size: 1.7rem;
    color: white;
    text-align: center;
    margin: 0;
    margin-top: -8px;
}

.sustentabilidade {
  display: flex;
  justify-content: space-between;   
  align-items: flex-start;
  margin-top: 2%;
  margin-left: 11%;
  margin-right: 15%;
}

.texto {
  display: flex;
  flex-direction: column;
}

.sustentabilidade h1 {
  font-size: 2.2rem;
  color: #0e4376;
  margin-bottom: 5px;
  font-weight: bold;
}

.sustentabilidade p {
  font-size: 1.3rem;
  color: #0e4376;
  font-weight: 500;
  text-align: justify;
  line-height: 55px;
}

.linha-e-links {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.linha-vertical {
  width: 2px;
  height: 170px;
  background-color: #143263;
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 5px;         
}

.menu-links a {
  text-decoration: none;
  color: #0e4376;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.2;  
  padding: 0;       
  margin: 0;         
}

.titulo-menu {
  color: #0b5498;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 6px; 
  line-height: 1.2;
}

.menu-links a:hover {
  color: #143263;
}

.footer {
    position: relative;  
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    height: 80px;
    background-color: #143263;
    margin-top: 2%;
}

footer p{
    color: #ffffff;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
}

.social-media i {
    font-size: 24px;
    margin-right: 15px;
    cursor: pointer;
    color: #ffffff;
}

.social-media i:last-child {
    margin-right: 0;
}

copyright {
    font-size: 1rem;
}
