@media (max-width: 991px) {
  .row.mt-4.g-2 {
    display: none !important;
  }
}

.card  {
  box-shadow: 0 0 90px rgba(0, 0, 0, 0.377);
  border-radius: 2rem;
  font-family: 'Garet Book';
  font-weight: bold !important;
  font-size: 0.8rem;
}

.journey {
  position: absolute;
  top: 43%;
  left: 15px;
  color: white;
  padding: 20px;
  padding-right: 50px;
  border-radius: 1rem;
  font-weight: bold;
}

.journey p {
  font-weight: 600;
  
}

.card-fixo {
  width: 170px;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.219);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  transition: all 0.4s ease-in;
  position: relative;
  font-family: 'Garet Book'!important;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all 0.3s ease;
  border: 2px solid #ffffff52;
  font-weight: normal !important;
  font-size: 0.7rem;
}

.card-fixo:hover {
  background-color: white;
}

.card-fixo:hover .ball {
  background-color: #0b36c8;
  color: white;
  border: none;
}

.card-fixo:hover p {
  color: #030f7a;
}

.forgetpss {
  margin-bottom: 30px;
  display: block;
  color: #030f7a;
  font-weight: 600;
}

.forgetpss:hover {
  text-decoration: none;
}

.log {
  font-weight: 400;
  font-size: 2.5rem;
}

.input-senha {
  background-color: #f1f2f5;
  border-radius: 1rem;
  border: 1px solid #030f7a;
  color: #030f7a;
  font-family: 'Garet Book';
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.8rem 0.9rem;
}

.input-senha::placeholder {
  color: #a5a5a5;
}

.form-label {
  color: #030f7a;
  font-family: 'Garet Book';
  font-weight: 600;
}

.input-email {
  background-color: #f1f2f5;
  border-radius: 1rem;
  border: 1px solid #030f7a;
  color: #030f7a;
  font-family: 'Garet Book';
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.8rem 0.9rem;
}

.input-email::placeholder {
  color: #a5a5a5;
}

.custom-button {
  border-radius: 2rem;
  width: 250px;
  font-size: 1rem;
  padding: 15px 30px;
  background: linear-gradient(to right, #0b36c8, #0e77d2, #1176c6);
  border: none;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background: linear-gradient(to right, #1176c6, #0e77d2, #0b36c8);
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.logo-top {
  position: absolute;
  top: 40px;
  left: 10px;
  height: 35px;
  z-index: 2;
}
